/* FONTS */
/* @import url(./clash-display.css); */


/* VARIABLES */
:root {
    --c-dark: #212529;
    /* --c-brand: #4e57d4; */
    --c-brand: #005555;
    --c-brand-light: rgba(0, 85, 85, 0.761);
    --c-brand-light: #005555c2;
    --c-brand-rgb: 223, 22, 27;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
    font-size: 18px;
}

/* RESET & HELPERS */
/* body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: red;
    background-color: rgba(0, 85, 85, 0.043);
} */

h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}


img {
    max-width: 100%;
    height: auto;
}

























/* FOOTER */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: rgba(255, 255, 255, 0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

footer a:hover{
    color: var(--c-brand);
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}


